.container{
  font-family: 'Playfair Display';
  :global{
    .text-container{

      background: white;

    }
    .title{

      font-style: normal;
      font-weight: 700;
      line-height: 53px;

      /* White */

    }
  }
}
