.container{
  font-family: 'Playfair Display';
  :global{
    .text-container{

      background: white;

    }
    .bg-text{
      font-style: normal;
      font-weight: 900;
      line-height: 171px;

      color: #D9D9D9;

      opacity: 0.2;
    }
    .title{

      font-style: normal;
      font-weight: 700;
      line-height: 53px;

      /* White */

    }
  }
}
