.container{
  font-family: 'Lato';
  :global{
    .text-container{

      background: #F8F9FF;

    }
    .bg-text{
      font-style: normal;
      font-weight: 900;
      line-height: 171px;


      opacity: 0.2;
    }
    .title{

      font-style: normal;
      font-weight: 700;
      line-height: 53px;

      /* White */

    }
  }
}
